*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --cinza-titulos-principais:#CCCCCC;
    --cinza-palavras-menores:#A7A7A7;

    --fonte-padrao:'Poppins';
}
a{
    color: #A7A7A7;
    font-family: 'DM sans';
    text-decoration: none;
    font-size: 20px;
    
}

li{
    list-style-type: none;
}

h2{
   color: white;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    width: 50%;
    height: 100vh;
    
}


body  {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    box-sizing: border-box;

}

#stars  {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
    /* background: url(img/stars.png) no-repeat center center fixed; */
    background-size: cover;
    background: linear-gradient(#2b1055 , #7597de);

}

:root{
    --cinza-titulos-principais:#CCCCCC;
    --cinza-palavras-menores:#A7A7A7;

    --fonte-padrao:'Poppins';
}


.header .menu{
    display: flex;
    flex-direction: row;
  

}

.header .menu li{
    padding: 10px;
    height: 200px;

 }

 .text{
    
    padding: 50px;
 }

@media only screen and (max-width: 600px) {

    .header .menu{
        display: flex;
        flex-direction: row;
        justify-content: end;
        background: black;
    }

    .header .menu li{
        padding: 10px;
        height: 200px;
   
     }

     h2{
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 0.9rem;
        word-wrap: break-word;
     }

     body {
        margin-left:20px;
        margin-right: 10px;
    
     }

}