body  {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background: black;
    margin-left: 177px;
    margin-right: 230px;
    box-sizing: border-box;

}

:root{
    --cinza-titulos-principais:#CCCCCC;
    --cinza-palavras-menores:#A7A7A7;

    --fonte-padrao:'Poppins';
}

.header {
    display: flex;
    background: #272727;
    justify-content: flex-end;
    height: 40px;
    width: 100%;
    padding: 10px;
    align-items: center;


}

.menu {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.menu li {
    margin-left: 20px;
    padding: 20px;
    justify-content: center;
  
}



    /*EDITANDO AS TAGS LI E A */

a{
    color: #A7A7A7;
    font-family: 'DM sans';
    text-decoration: none;
    font-size: 20px;
    
}

li{
    list-style-type: none;
}

.saudacao h1{
    color: #D9D9D9;
    font-family: 'Poppins';
    font-weight: 700px;
    font-size: 40px;
    margin-top: 300px;
}


span {
    font-size: 50px;
    color: #03bb85;
    font-weight: normal;
}

span.textgradient {

background-image: linear-gradient(to right, #21b4ee, #1b49e0); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: bold;

}

.picture img{
    margin-top: 300px;
    border-radius: 230px;
    height: 349px;
    width: 349px;
    left: 855px;
    top: 19px;
    border-radius: 230px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #21b4ee) 1;
    background-image: linear-gradient(to right, #21b4ee, #1b49e0);
    padding: 5px;
  }
    


.saudacao{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.mystacks h1 {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    font-family: var(--fonte-padrao);
    font-size: 48px;
    color: var(--cinza-titulos-principais);
}

.mystacks h2 {
    display: flex;
    line-height: 0.0;
    justify-content: center;
    font-family: var(--fonte-padrao);
    font-size: 32px;
    color: var(--cinza-titulos-principais);
    font-weight: normal;
}


.icons {
    display: flex;

    justify-content: center;

    
}

.icons-items {
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.icons-items img {
    display: flex;
    margin-left: 130px;
    margin-top: 100px;
    margin-right: 10px;
}

.icons-items #python {
    width: 120px;
    height: 120px;

}

.projects{
    display: flex;
    flex-direction: column;
}

.projects h1 {
    display: flex;
    justify-content: center;

    font-family: var(--fonte-padrao);
    color: var(--cinza-titulos-principais);
    font-size: 48px;
    margin-top: 200px;

}

.projects h2 {
    display: flex;
    justify-content: center;

    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-weight: normal;
    font-size: 32px;
    line-height: 0.0;
    margin-bottom: 150px;
    word-wrap: break-word;

}

.imageprojects-items img{
    width: 375px;
    height: 260px;
    border-radius: 20px 20px 0px 0px;
}

.imageprojects-items h1{
    display: flex;
    justify-content: center;
    font-family: var(--fonte-padrao);
    color: var(--cinza-titulos-principais);
    margin-top: 1px;
}
.imageprojects-items h2{
    display: flex;
    justify-content: start;
    padding: 10px;
    font-family: var(--fonte-padrao);
    color: #CCCCCC;
    font-weight: normal;
    margin-top: 1px;
    font-size: 15px;
    margin-bottom: 0px;
}

.imageprojects-items{
    background: #363636;
    width: 375px;
    height: 520px;
    border-radius: 20px 20px 20px 20px;
    
}



.imageprojects-items a {
    font-weight: normal;
    display: flex;
    margin-left: 35%;
    font-family: var(--fonte-padrao);
    color: #CCCCCC;
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 20%;
    text-align: center;
    
    
}

.imageprojects{
    display: flex;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    

}


footer{
    height: 200px;
    margin-top: 300px;
}

.menufooter-items-superiores{
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #42446E;

    padding-bottom: 50px;
}

.menufooter-items-superiores img {
    width: 30px;
    height: 29px;
    margin-right: 10px;
    margin-left: 20px;
}
.menufooter-items-superiores h2 {
    font-size: 18px;
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-weight: normal;
}



.menu-item-final {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}

.menu-item-final li {
    margin-left: 0px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  
}

.textfinal{
    display: flex;
    justify-content: end;
    color: #666666;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-size: 15px;
    line-height: 35px;
    

}

.menu-footer-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}


span.textgradient-final {

    background-image: linear-gradient(to right, #21b4ee, #1b49e0); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 25px;
    
    }

.direitos-reservados{
    display: flex;
    justify-content: center;
}

.direitos-reservados h2{
    color: #666666;
    font-family: var(--fonte-padrao);
    font-size: 15px;
}


.menu-item-final li {
    margin-left: 40px;
}


.form{
    color: white;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form textarea{
    margin-top: 50px;
    background:var(--cinza-titulos-principais) ;
    border-radius: 50px;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: black;
    border:0;
    width: 100%;
    padding: 20px 0 0 20px;
    font-size: 30px;
}

.form label{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-style: normal;
    margin-top: 80px;
}

.form button{
    display: flex;
    justify-content: center;
    font-size: 15px;
    line-height: 40px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-style: normal;
    margin-top: 20px;
    width: 100px;
    margin-left: 50%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #21b4ee, #1b49e0); 
    cursor: pointer;
    color: white;

}

label span{
    display: grid;
    grid-template-columns: 1fr;
    color:#03bb85;
    font-size: 25px;
    align-items: center;
    margin-left: 10px;
}

#nameperson{
    color:white;
    margin-left: 0;
    padding: 0;
}

#text-nameperson{
    margin-top: 5px;
    background:var(--cinza-titulos-principais) ;
    border-radius: 50px;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: normal;
    line-height: 10px;
    color: black;
    border:0;
    width: 400px;
    padding: 2px 0 0 20px;
    font-size: 30px;
}

.form #nameperson{
    display: flex;
    justify-content: start;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 3px;
}

p{
    font-family: var(--fonte-padrao);
    margin-bottom: 0;
}

















@media only screen and (max-width: 800px) {

    /* MENU */
    .menu{
        display: flex;
        flex-direction: column;
        height:20px ;
        margin-top: 20px;
       

    }
    .header{
        background: black;
    }
    
    .saudacao{
        display: flex;
        flex-direction: row;
        margin-top: 150px;
        margin-left: -100px;
    }
    .saudacao h1{
        color: #D9D9D9;
        font-family: 'Poppins';
        font-weight: 700px;
        font-size: 30px;
        margin-top: 300px;
        
    }
    .saudacao span{
        font-family: 'Poppins';
        font-size: 30px;
 
    }

    .saudacao-items {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }

    .picture{
     
        margin-left: 0px;
        width:10px;

    }

    /* .icons{
        display: flex;
        flex-direction: column;
    }*/

  
    .icons-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 455px;
    
    } 

    .icons-items img {
        
        margin-left: 80px;
        
        margin-right: -40px;
    }

    .icons-items #python{
        display: flex;
        flex-direction: column;
        width: 65%;
        height: 65%;
        margin-left: 110px;
    }

    
      .projects h2{
        font-size: 20px;
        line-height: 50px;
        margin-left: 20px;
      }

      .projects h1 {
        font-size: 40px;
        margin-left: 20px;
      }

      .mystacks h2{
        font-size: 20px;
        width: 100%;
        line-height: 50px;
        margin-left: 20px;
      }


      .mystacks h1 {
        font-size: 40px;
        margin-left: 20px;
      }

     

    .imageprojects{
        display: flex;
        flex-direction: column;
        margin-left: -10px;
    }
    
    .imageprojects-items{
        width: 350px;
    }
    .imageprojects-items img{
        width: 350px;
    }


    .menufooter{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    .menufooter-items-superiores{
        display: flex;
        flex-direction: column;

    }

    .textfinal{
        font-size: 18px;
    }
   

    body{
        margin-left: 40px;
    }

    .menu-footer-2{
        display: flex;
        flex-direction: column;
        height:20px ;
        margin-top: 20px;
        width: 300px;
       

    }

    .menu-footer-2 ul{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        margin-left: -300px;
 
    }

    .menu-item-final{
        display: flex;
        flex-direction: column;
        height:20px ;

    }

    .textfinal{
        margin-top: 150px;
    }

    .direitos-reservados{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

/* HAMBURGUER
    nav .menu-lines{
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
        margin-left: -200px;

    } */
/* CHECKBOX FALSO*/
    /* .menu-faketrigger{
        position: absolute;
        z-index: 998;
        width: 35px;
        height: 35px;
        margin-left: 100px;
        opacity: 0;
        cursor: pointer;
    } */


    
    /* nav .menu-lines span{
        display: block;
        width: 35px;
        height: 5px;
        margin-bottom: 10px;
        background-color: var(--cinza-titulos-principais);
        border-radius: 3px;
        transition: all ease .2s;
    
    }

    .menu-faketrigger{
        position: absolute;
        z-index: 1000;
        width: 35px;
        height: 35px;
        opacity: 0;
        cursor: pointer;
        margin-left: -200px;
    }


    /* .menu-faketrigger:checked ~ .menu-lines span{
        background-color: black;


    } */

    /* .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
        transform-origin: 0% 0%;
        transform: rotate(45deg) scaleX(1.25);

    }

.menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
    opacity: 0;

    }

.menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);

    }

    .header ul {
        position: absolute;
        z-index: 998;
        left: 0;
        width: 300px;
        margin-left: 300px;
        transition: all ease .3s;

    }

    .menu-faketrigger:checked ~ ul {
        margin-left: 0;
    } */ 


    .form label{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: px;
        font-family: var(--fonte-padrao);
        font-weight: normal;
        font-style: normal;
        margin-left: 0px;
        width: 300px;
    }

    .form{
        color: white;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .form textarea{
        margin-top: 50px;
        background:var(--cinza-titulos-principais) ;
        border-radius: 10px;
        font-family: var(--fonte-padrao);
        font-style: normal;
        font-weight: normal;
        line-height: 40px;
        color: black;
        border:0;
        width: 300px;
        padding: 20px 0 0 20px;
        font-size: 20px;
        height: 100px;

    }

    #text-nameperson{
        width: 300px;
        font-size: 20px;
    }

    .form button{
        margin-left: 100px;
    
    }

    #Contact{
        width: 300px;
    }





}
