*{
    box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

/*---------------------MODAL TAXA METABOLICA BASAL--------------------*/
/* Estilo do botão para abrir o modal */
button#myBtnTmb {
  background: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.0rem;
  line-height: 20px;
  margin: 10px;
  cursor: pointer;
  width: 210px;
  height: 30px;
  
}
button#myBtnTmb:hover{
  
  scale: 1.2;
  transition: 1.0s;
}

#btn-calcular {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  height: 50px;
}



/* Estilo do modal */
.modalTmb {
  display: none; /* Ocultar o modal por padrão */
  position: fixed; /* Posição fixa para que ele flutue acima do conteúdo da página */
  z-index: 1; /* Definir a ordem de empilhamento */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permitir que o usuário role a página quando o modal estiver aberto */
  background-color: rgba(0,0,0,0.4); /* Fazer o fundo escuro */
}

/* Estilo do conteúdo do modal */
.modal-contentTmb {
  background-color: #fefefe;
  margin: 10% auto; /* Centralizar verticalmente e alinhar à esquerda horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  max-width: 600px;
}

/* Estilo do botão para fechar o modal */
.closeTmb {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeTmb:hover,
.closeTmb:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/* Estilo das etiquetas do formulário */
#myFormTmb label {
  margin-top: 10px;
}

/* Estilo dos campos do formulário */
#myFormTmb input,
#myFormTmb select {
  padding: 5px;
  border-radius: 5px;
}

    



body{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    background: #000;
}


:root{
    --cinza-titulos-principais:#CCCCCC;
    --cinza-palavras-menores:#A7A7A7;

    --fonte-padrao:'Poppins';
}

/* ------------------------------------------- TRABALHANDO NO MENU HEADER -----------------------------*/



/* ---------------------- ESTILIZANDO O MODAL------------------------*/

/* Estilize o modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilize o formulário */
  
  #form-modal {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #budget-enviar[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #budget-enviar[type="submit"]:hover {
    background-color: #0069d9;
  }
  


a{
    text-decoration: none;
    color: var(--cinza-palavras-menores);
}


li{
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.icons-menu{
    display: flex;
    justify-content: flex-end;
  
}

.icons-menu li {
    margin-right: 20px;
    

}

.menu{
    display: flex;
    justify-content: space-between;

}

.menu li a{
    margin: 30px;

}

.menu li a:hover{
    color: white;
    transition: all 0.1s;
}

.icons-menu li a :hover{
    -webkit-transform: scale(1.5);
    transition: all 0.5s;
}



/* -----------------------------------TRABALHANDO NA SEÇÃO SAUDAÇÃO E MINHA FOTO -----------------------------*/


.saudacao {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-evenly;
    color: var(--cinza-titulos-principais);
    margin-left: 15px;
    
}
    .saudacao h1{
        color: #D9D9D9;
        font-family: 'Poppins';
        font-size: 40px;
    }

    .picture img{
        border-radius: 230px;
        height: 300px;
        max-width:500%;
        left: 855px;
        top: 19px;
        border-radius: 230px;
        border-image: linear-gradient(to right, #21b4ee) 1;
        background-image: linear-gradient(to right, #21b4ee, #1b49e0);
        padding: 5px;
        box-shadow: 0 0 0 0 #21b4ee;
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(33, 180, 238, 0.4);
        }
        70% {
          box-shadow: 0 0 0 20px rgba(33, 180, 238, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(33, 180, 238, 0);
        }
      }

      .picture{
        display: flex;
        flex-direction: column;
    
      }

      .to-contact{
        width: 150px;
        margin-left:70px;
        
        
      }

      .to-contact {
        color: white;
        
      }

      #budget:hover{
        -webkit-transform: scale(1.2);
        transition: all 0.8s;
      }

    span {
        font-size: 50px;
        color: #03bb85;
        font-weight: normal;
    }

        span.textgradient {

        background-image: linear-gradient(to right, #21b4ee, #1b49e0); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;

}

#curriculo-btn{
    width: 150px;
    margin-left:70px;
    
}

#curriculo-btn a{
    color: white;
}

#curriculo-btn:hover{
    -webkit-transform: scale(1.2);
    transition: all 0.8s;
  }
/* -----------------------------------TRABALHANDO NA SEÇÃO MYSTACKS -----------------------------*/

.mystacks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    flex-wrap: wrap;
}

.icons-stacks img {
    margin-left: 60px;
    width: 100px;
    height: auto;

}

.mystacks h1 {
    font-family: var(--fonte-padrao);
    font-size: 48px;
    color: var(--cinza-titulos-principais);
   

}

.mystacks h2 {
    font-family: var(--fonte-padrao);
    font-size: 32px;
    color: var(--cinza-titulos-principais);
    font-weight: normal;

}


#svg-sql{
    width: 80px;
    height: auto;
    
} 

.icons-stacks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.stack-legend{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.stack-legend h1{
    font-size: 2.0rem;
    display: flex;
    align-items: center;
    margin-left: 50px;
    text-shadow: #302f2f 5px 0px 0px ;
    
       
    
}



/* -----------------------------------TRABALHANDO NA SEÇÃO PROJETOS QUE FIZ ATE AGORA -----------------------------*/


.title-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--cinza-titulos-principais);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 250px;
 
    
}



.photo-container-powerbi:hover {
    border-color: #fff;

  }

.photo-container-powerbi{
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #176fb8, #028394);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    border: 4px solid transparent;
    width: 800px;
}

.text-legend-powerbi{
    margin: 0;
    background: linear-gradient(to bottom right, #176fb8, #028394);
    font-size: 14px;
    text-align: center;
    width: 800px;
    height: 300px;
    margin-left: 0px;
    color: #000;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    border: 4px solid transparent;
  }

  .text-legend-powerbi h1{
  margin-top:5px ;
  font-size: 1.5rem;
  color: white;
  }

  .text-legend-powerbi h3{
    margin-top:5px ;
    font-size: 1.2rem;
    color: white;
    }

    .text-legend-powerbi p{
        margin-top:5px ;
        font-size: 1.2rem;
        color: white;
        }

        .text-legend-powerbi a{
          color: white;
          text-decoration: underline;
          font-size: 1.2rem;
          }



#analise-rh{
    width: 800px;
    height: 50vh;
   
}



  .photo-container {
    height: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #176fb8, #028394);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    border: 4px solid transparent;
    width: 500px;
    
  }


  .photo-container:hover {
    border-color: #fff;

  }
  
  .photo-container img {
    width: 500px;
    height: 300px;
    display: block;
    margin-left: 0px;
    
    
  }
  
  
  
  .projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    flex-wrap: wrap;
   
  }

  .text-legend{
    margin: 0;
    background: linear-gradient(to bottom right, #176fb8, #028394);
    font-size: 14px;
    text-align: center;
    width: 500px;
    height: 300px;
    margin-left: 0px;
    color: #000;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    border: 4px solid transparent;
  }

  .text-legend h1{
  margin-top:5px ;
  font-size: 1.5rem;
  color: white;
  }

  .text-legend h3{
    margin-top:5px ;
    font-size: 1.2rem;
    color: white;
    }

    .text-legend p{
        margin-top:5px ;
        font-size: 1.2rem;
        color: white;
        }


        .text-legend a{
            font-size: 1.0rem;
            color: white;
            text-decoration: underline;
            }




.title-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


/*----------------TRABALHANDO NA AREA DE CERIFICAÇÕES----------------------------------*/

.title-certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--cinza-titulos-principais);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 250px;
 
    
}


.title-certificados h2{
    font-size: 1.5rem;
}


.certificados {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    flex-wrap: wrap;
   
}

.photo-container-certificados img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 0;
    margin: 0;
    border-radius: 20px 20px 0px 0px;
    
}

.photo-container-certificados:hover {
    border-color: #fff;

  }

.photo-container-certificados{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #176fb8, #028394);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    border: 4px solid transparent;
    width: 500px;
    align-items: center;
}

.text-legend-certificados{
    align-items: center;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    
  }

 
    .text-legend-certificados a{
        margin-top:5px ;
        font-size: 1.2rem;
        color: white;
      
        }



/* -----------------------------------TRABALHANDO NA SEÇÃO DO FORMULARIO -----------------------------*/
.form h2{
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.form label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-nome{
    display: flex;
    flex-direction: column;
    width: 503px;

}

#input-nome{
    display: flex;
    flex-direction: column;
    width: 503px;
}

.form p{
    width: 503.56px;
    font-size: 20px;
    color: white;
}


.textarea-submit{
    display: flex;
    flex-direction: column;
    width: 503px;
    justify-content: center;
}

button{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 15px;
    line-height: 40px;
    font-family: var(--fonte-padrao);
    width: 100px;
    margin-left: 40%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #21b4ee, #1b49e0); 
    cursor: pointer;
    color: white;
   
}

button:hover{
    background-image: linear-gradient(to right, #f0bb10, #eb1b8d);
}

textarea{
    margin-top: 50px;
    background:var(--cinza-titulos-principais) ;
    border-radius: 20px;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    border:0;
    width: 100%;
    padding: 25px 0 0 20px;
    font-size: 30px;
}


.form label{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-style: normal;
    margin-top: 80px;
    color: var(--cinza-titulos-principais);
    
}

input{
    margin-top: 10px;
    background:var(--cinza-titulos-principais) ;
    border-radius: 20px;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: black;
    border:0;
    width: 100%;
    padding: 0px 0 0 20px;
    font-size: 30px;
}

/* -----------------------------------TRABALHANDO NA SEÇÃO RODAPÉ -----------------------------*/


.footer-contact{
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
    border-bottom: 1px solid var(--cinza-titulos-principais);
   
}



.menu-footer-icons{
    display: flex;
    margin-left: 50px;
}

.email-tel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-tel img {
   margin-left: 50px;
}

.menu-footer-icons a{
    margin-left: 20px;
}

.footer-contact h2{
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-left: 50px;
}


.footer-menu ul{
    display: flex;
    
}
.footer-menu ul li{
    display: flex;
    margin-left: 50px;
    
}

/* -----------------------------------TRABALHANDO NA SEGUNDA PARTE DA SEÇÃO RODAPÉ -----------------------------*/


.textfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textfinal h2{
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.textfinal span{
    font-size: 30px;
    font-weight: normal;
}

/* -----------------------------------TRABALHANDO NA TERCEIRA PARTE DA SEÇÃO RODAPÉ -----------------------------*/

.direitos-reservados{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    justify-content: space-evenly;
}

.direitos-reservados h2 {
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}




/*  ---------- RESPONSIVIDADE ----------------------------------*/

/* ------------------------- MENU ------------------------------*/
@media screen and (max-width:800px){

 
    .page-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu{
        z-index: 2;
    }
    
    
    #menu-bar {
        width: 30px;
        height: 50px;
        margin: 0px 0 20px 20px;
        cursor: pointer;
      }
      
      .bar {
        height: 3px;
        width: 100%;
        background-color: #05ebfc;
        display: block;
        border-radius: 90px;
        transition: 0.3s ease;
      }
    
      #bar1 {
        transform: translateY(-4px);
      }
    
      #bar3 {
        transform: translateY(4px);
      }
    
      .nav {
        transition: 0.3s ease;
        display: none;
      }
    
      .nav ul {
        padding: 0 22px;
      }
    
      .nav li {
        list-style: none;
        padding: 12px 0;
      }
    
      .nav li a {
        color: var(--cinza-titulos-principais);
        font-size: 20px;
        text-decoration: none;
        padding: 20px;
      }
    
      .nav li a:hover {
        font-weight: bold;
      }
    
      .menu-bg, #menu {
        top: 0;
        left: 0;
        position: absolute;
      }
    
      .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        border-radius: 50%;
        transition: 0.3s ease;
      }
    
      .change {
        display: block;
      }
      
      .change .bar {
        background-color: #05ebfc;
      }
    
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
    
      .change #bar2 {
        opacity: 0;
      }
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      }
    
      .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%,-30%);
      }
    
      /* Classe para a página quando o menu é aberto */
    .page-content.menu-open {
        position: relative;
        top: 400px; /* ou a altura do seu menu, se for diferente */
      }
    
      /* Classe para a transição de posicionamento da página */
    .page-content {
        transition: top 0.3s ease;
      }



    .menu{
        display: block;
        flex-direction: column;
        margin-left: -100px;
        line-height: 50px;
        width:409px;
    }

    .icons-menu{
        margin-top: 10px;
        margin-left: 35%;
    }





    /* ------------------------- SAUDAÇÃO ------------------------------*/

    .saudacao {
        display: flex;
        flex-direction: column;
    }

    .picture img{
        width: 90%;
        height: auto;
    }

    .saudacao-texto {
        width: 100%;
        word-wrap: break-word;
    }

    .saudacao h1{
        font-size: 1.8rem;
    }

    .to-contact{
        width: 80%;
        margin-left:20px;
        
      }

      .to-contact a{
        color: white;
      }

      .picture{
        display: flex;
        flex-direction: column;
        align-items: start;
      }

      #curriculo-btn{
        width: 80%;
        margin-left:20px;
        
    }
    
   

   
   


    /* ------------------------- TECNOLOGIAS QUE TRABALHO ATUALMENTE ------------------------------*/

    .mystacks{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        margin-bottom: 120px;
    }

    #text-tecnology{
        width:75%;
        word-wrap: break-word;
        font-size: 1.8rem;
        
    }

    .mystacks h2{
        width:70%;
        font-size: 1.0rem;
        height: 80px;
        display: flex;
        text-align: center;
        margin-left: -50px;
    }

    

    .icons-stacks img{
        width: 40%;

    }

  

    #svg-sql{
        width: 35%;
        height: auto;
        
    } 
    
    .icons-stacks{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
    }
    
    .stack-legend{
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        text-align: center;
        align-items: center;
        width: 90%;
        
    }
    
    .stack-legend h1{
        font-size: 2rem;
        display: flex;
        align-items: flex-start;
        text-shadow: #302f2f 5px 0px 0px ;
        width: 70%;
        
    }


    .stack-legend img{
      margin-left: -15%;
        
    }


    


  /* ------------------------- PROJETOS ------------------------------*/

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    
}

    .title-projects h1{
        font-size: 2rem;
        word-wrap: break-word;
        margin-left: -50px;
    
    }

    .title-projects h2{
        font-size: 1.0rem;
        word-wrap: break-word;
        margin-left: -50px;
       
    }


    .imageprojects-items{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .imageprojects-items h1,h2{
        font-size: 1rem;
    }

    .title-projects{
        height: 0px;
    }




    #analise-rh{
        width: 100vw;
        height: 80vh;
       
    }
    
    
    
      .photo-container {
        height: auto;
        margin-bottom: 20px;
        background: linear-gradient(to bottom right, #176fb8, #028394);
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: border-color 0.3s ease-in-out;
        border: 4px solid transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        
      }
    
  
      .photo-container:hover {
        border-color: #fff;
    
      }
      
      .photo-container img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: 0px;
        
        
      }
      
      
      
      .projects{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 150px;
        flex-wrap: wrap;
       
      }
    
      .text-legend{
        margin: 0;
        background: linear-gradient(to bottom right, #176fb8, #028394);
        font-size: 14px;
        text-align: center;
        width: 100%;
        height: auto;
        margin-left: 0px;
        color: #000;
        border-radius: 0px 0px 15px 15px;
        padding: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: border-color 0.3s ease-in-out;
        border: 4px solid transparent;
        
      }
    
      .text-legend h1{
      margin-top:5px ;
      font-size: 1.5rem;
      color: white;
      width: 100%;
      }
    
      .text-legend h3{
        margin-top:5px ;
        font-size: 0.9rem;
        color: white;
        }
    
        .text-legend p{
            width: 100%;
            margin-top:5px ;
            font-size: 1.0rem;
            color: white;
            text-align:start;
          
            }
    
    
            .text-legend a{
                font-size: 1.0rem;
                color: white;
                text-decoration: underline;
                }

              
                
                .photo-container-powerbi{
                    height: 70vh;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    background: linear-gradient(to bottom right, #176fb8, #028394);
                    border-radius: 20px;
                    overflow: hidden;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                    transition: border-color 0.3s ease-in-out;
                    border: 4px solid transparent;
                    width: 100%;
                }
                
                .text-legend-powerbi{
               
                    background: linear-gradient(to bottom right, #176fb8, #028394);
                    font-size: 14px;
                    text-align: center;
                    width: 100%;
                    height: 300px;
                    margin-left: 0px;
                    border-radius: 0px 0px 15px 15px;
                   

                  }
                
                  .text-legend-powerbi h1{
                  margin-top:5px ;
                  font-size: 1.2rem;
                  color: white;
                  }
                
                  .text-legend-powerbi h3{
                    margin-top:5px ;
                    font-size: 0.9rem;
                    color: white;
                    }
                
                    .text-legend-powerbi p{
                        margin-top:5px ;
                        font-size: 0.8rem;
                        text-align:start;
                        color: white;
                        height: 18vh;
                        }

                        .text-legend-powerbi a{
                        
                            text-decoration: underline;
                            color: white;
                          
                            }
                    
                
 /* ------------------------- SEÇÃO CERTIFICAÇÕES ------------------------------*/


.certificados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
   
}

.title-certificados{
    margin-bottom: 0px;
    height: 0px;
}


.title-certificados h1{
    font-size: 2rem;
    word-wrap: break-word;
    margin-left: -50px;
    margin-top: -20px;

}

.title-certificados h2{
    font-size: 1.0rem;
    word-wrap: break-word;
    margin-left: -50px;
   
}

.photo-container-certificados{
    height: auto;
    margin-bottom: 20px;
    background: linear-gradient(to bottom right, #176fb8, #028394);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
    border: 4px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 1px;
}


.text-legend-certificados{
    width: 100%;
   text-align: center;
}

























   
  /* ------------------------- FORMULARIO ------------------------------*/
  

    #label-digite-nome{
        font-size: 1.0rem;
        margin-left: 0;
        width: 60%;
    }

  .section-form{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .section-form h2,span{
        font-size: 1.8rem;
        word-wrap:break-word;
    }

    .section-form #input-nome{
        display: flex;
        font-size: 1.1rem;
        align-items: center;
        word-wrap: break-word;
        
    }

    #input-nome{
        display: flex;
        width: 90%;

    }
    #input-nome::placeholder{
        font-size: 0.8rem;
    }

    .section-form button{
        width: 50%;
        margin-left:70px;
    }

    #input-nome::placeholder{
        font-size: 0.7rem;
    }
   
    

   
    .form{
        width: 100%;
    }
    .form p{
        font-size:0.8rem;
        width: 50%;

    }

   .textarea-submit{
    display: flex;
    flex-direction: column;
    width: 90%;
   }

        

    

    textarea::placeholder{
        line-height:40px;
        font-size: 0.8rem;

    }

    textarea{
        font-size: 1.0rem;
    }




  /* ------------------------- PRIMEIRA PARTE RODA PÉ ------------------------------*/

.footer-contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    
    
}

.email-tel{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;

}

.email-tel img{
    width: 10%;

}

.email-tel h2{
    font-size: 0.9rem;
}










 /* ------------------------- RODA PÉ MENU ------------------------------*/


.footer-menu{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    line-height: 60px;
    margin-left: 0px;
}

.footer-menu ul li {
    margin-left: 0;
   
}


.footer-contact{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
    border-bottom: 1px solid var(--cinza-titulos-principais);
   
}

.textfinal{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}



.direitos-reservados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    width: 95%;
}




/*-----------MODAL CALCULO BASAL-------------*/

/* Estilo do conteúdo do modal */
.modal-contentTmb {
  background-color: #fefefe;
  margin: 10% auto; /* Centralizar verticalmente e alinhar à esquerda horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px;
 
}

button#myBtnTmb{
font-size: 9pt;
width: 100%;
}





}

