*{
    box-sizing: border-box;
}


body{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
    background: #000;
}


:root{
    --cinza-titulos-principais:#CCCCCC;
    --cinza-palavras-menores:#A7A7A7;

    --fonte-padrao:'Poppins';
}

/* ------------------------------------------- TRABALHANDO NO MENU HEADER -----------------------------*/



/* ---------------------- ESTILIZANDO O MODAL------------------------*/

/* Estilize o modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilize o formulário */
  
  #form-modal {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  #budget-enviar[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #budget-enviar[type="submit"]:hover {
    background-color: #0069d9;
  }
  


a{
    text-decoration: none;
    color: var(--cinza-palavras-menores);
}


li{
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.icons-menu{
    display: flex;
    justify-content: flex-end;
  
}

.icons-menu li {
    margin-right: 20px;
    

}

.menu{
    display: flex;
    justify-content: space-between;

}

.menu li a{
    margin: 30px;
}



/* -----------------------------------TRABALHANDO NA SEÇÃO SAUDAÇÃO E MINHA FOTO -----------------------------*/


.saudacao {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-evenly;
    color: var(--cinza-titulos-principais);
    margin-left: 15px;
    
}
    .saudacao h1{
        color: #D9D9D9;
        font-family: 'Poppins';
        font-size: 40px;
    }

    .picture img{
        border-radius: 230px;
        height: 300px;
        max-width:500%;
        left: 855px;
        top: 19px;
        border-radius: 230px;
        border-image: linear-gradient(to right, #21b4ee) 1;
        background-image: linear-gradient(to right, #21b4ee, #1b49e0);
        padding: 5px;
        box-shadow: 0 0 0 0 #21b4ee;
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(33, 180, 238, 0.4);
        }
        70% {
          box-shadow: 0 0 0 20px rgba(33, 180, 238, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(33, 180, 238, 0);
        }
      }

      .picture{
        display: flex;
        flex-direction: column;
    
      }

      .to-contact{
        width: 150px;
        margin-left:70px;
        
      }

      .to-contact a{
        color: white;
      }

    span {
        font-size: 50px;
        color: #03bb85;
        font-weight: normal;
    }

        span.textgradient {

        background-image: linear-gradient(to right, #21b4ee, #1b49e0); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;

}

/* -----------------------------------TRABALHANDO NA SEÇÃO MYSTACKS -----------------------------*/

.mystacks{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
}

.icons-stacks img {
    margin-left: 60px;

}

.mystacks h1 {
    font-family: var(--fonte-padrao);
    font-size: 48px;
    color: var(--cinza-titulos-principais);
}

.mystacks h2 {
    font-family: var(--fonte-padrao);
    font-size: 32px;
    color: var(--cinza-titulos-principais);
    font-weight: normal;

}

#svg-python{
    width: 100px;
    height: auto;
    margin-top: 30px;
}



/* -----------------------------------TRABALHANDO NA SEÇÃO PROJETOS QUE FIZ ATE AGORA -----------------------------*/

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    justify-content: space-evenly;
}

.title-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projects img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
}


.imageprojects-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: auto;
    background: #363636;
    width: 50%;
    height: auto;
    border-radius: 20px 20px 20px 20px;
    margin-top: 50px;
}

/* .imageprojects-items{
    background: #363636;
    width: 375px;
    height: 520px;
    border-radius: 20px 20px 20px 20px;
    
} */

.title-projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.projects h1 {
    font-family: var(--fonte-padrao);
    color: var(--cinza-titulos-principais);
    font-size: 48px;
}

.projects h2 {
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 150px;

}

.imageprojects-items h2,h3{
    display: flex;
    justify-content: start;
    padding: 10px;
    font-family: var(--fonte-padrao);
    color: #CCCCCC;
    font-weight: normal;
    margin-top: 1px;
    font-size: 15px;
    margin-bottom: 0px;
}






/* -----------------------------------TRABALHANDO NA SEÇÃO DO FORMULARIO -----------------------------*/
.form h2{
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.form label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-nome{
    display: flex;
    flex-direction: column;
    width: 503px;

}

#input-nome{
    display: flex;
    flex-direction: column;
    width: 503px;
}

.form p{
    width: 503.56px;
    font-size: 20px;
    color: white;
}


.textarea-submit{
    display: flex;
    flex-direction: column;
    width: 503px;
    justify-content: center;
}

button{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    font-size: 15px;
    line-height: 40px;
    font-family: var(--fonte-padrao);
    width: 100px;
    margin-left: 40%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #21b4ee, #1b49e0); 
    cursor: pointer;
    color: white;
   
}

button:hover{
    background-image: linear-gradient(to right, #f0bb10, #eb1b8d);
}

textarea{
    margin-top: 50px;
    background:var(--cinza-titulos-principais) ;
    border-radius: 20px;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    border:0;
    width: 100%;
    padding: 25px 0 0 20px;
    font-size: 30px;
}


.form label{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-style: normal;
    margin-top: 80px;
    color: var(--cinza-titulos-principais);
    
}

input{
    margin-top: 10px;
    background:var(--cinza-titulos-principais) ;
    border-radius: 20px;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: black;
    border:0;
    width: 100%;
    padding: 0px 0 0 20px;
    font-size: 30px;
}

/* -----------------------------------TRABALHANDO NA SEÇÃO RODAPÉ -----------------------------*/


.footer-contact{
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
    border-bottom: 1px solid var(--cinza-titulos-principais);
   
}



.menu-footer-icons{
    display: flex;
    margin-left: 50px;
}

.email-tel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-tel img {
   margin-left: 50px;
}

.menu-footer-icons a{
    margin-left: 20px;
}

.footer-contact h2{
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-left: 50px;
}


.footer-menu ul{
    display: flex;
    
}
.footer-menu ul li{
    display: flex;
    margin-left: 50px;
    
}

/* -----------------------------------TRABALHANDO NA SEGUNDA PARTE DA SEÇÃO RODAPÉ -----------------------------*/


.textfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textfinal h2{
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.textfinal span{
    font-size: 30px;
    font-weight: normal;
}

/* -----------------------------------TRABALHANDO NA TERCEIRA PARTE DA SEÇÃO RODAPÉ -----------------------------*/

.direitos-reservados{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    justify-content: space-evenly;
}

.direitos-reservados h2 {
    font-family: var(--fonte-padrao);
    color: var(--cinza-palavras-menores);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}




/*  ---------- RESPONSIVIDADE ----------------------------------*/

/* ------------------------- MENU ------------------------------*/
@media screen and (max-width:800px){

 
    .page-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu{
        z-index: 2;
    }
    
    
    #menu-bar {
        width: 30px;
        height: 50px;
        margin: 0px 0 20px 20px;
        cursor: pointer;
      }
      
      .bar {
        height: 3px;
        width: 100%;
        background-color: #05ebfc;
        display: block;
        border-radius: 90px;
        transition: 0.3s ease;
      }
    
      #bar1 {
        transform: translateY(-4px);
      }
    
      #bar3 {
        transform: translateY(4px);
      }
    
      .nav {
        transition: 0.3s ease;
        display: none;
      }
    
      .nav ul {
        padding: 0 22px;
      }
    
      .nav li {
        list-style: none;
        padding: 12px 0;
      }
    
      .nav li a {
        color: var(--cinza-titulos-principais);
        font-size: 20px;
        text-decoration: none;
        padding: 20px;
      }
    
      .nav li a:hover {
        font-weight: bold;
      }
    
      .menu-bg, #menu {
        top: 0;
        left: 0;
        position: absolute;
      }
    
      .menu-bg {
        z-index: 1;
        width: 0;
        height: 0;
        margin: 30px 0 20px 20px;
        border-radius: 50%;
        transition: 0.3s ease;
      }
    
      .change {
        display: block;
      }
      
      .change .bar {
        background-color: #05ebfc;
      }
    
      .change #bar1 {
        transform: translateY(4px) rotateZ(-45deg);
      }
    
      .change #bar2 {
        opacity: 0;
      }
      .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
      }
    
      .change-bg {
        width: 520px;
        height: 460px;
        transform: translate(-60%,-30%);
      }
    
      /* Classe para a página quando o menu é aberto */
    .page-content.menu-open {
        position: relative;
        top: 400px; /* ou a altura do seu menu, se for diferente */
      }
    
      /* Classe para a transição de posicionamento da página */
    .page-content {
        transition: top 0.3s ease;
      }



    .menu{
        display: block;
        flex-direction: column;
        margin-left: -100px;
        line-height: 50px;
        background: rgba(209, 216, 219, 0.1);
        width:100vw;
    }

    .icons-menu{
        margin-top: 10px;
        margin-left: 100px;
    }





    /* ------------------------- SAUDAÇÃO ------------------------------*/

    .saudacao {
        display: flex;
        flex-direction: column;
    }

    .picture img{
        width: 90%;
        height: auto;
    }

    .saudacao-texto {
        width: 100%;
        word-wrap: break-word;
    }

    .saudacao h1{
        font-size: 1.8rem;
    }

    .to-contact{
        width: 80%;
        margin-left:0px;
        
      }

      .to-contact a{
        color: white;
      }

      .picture{
        display: flex;
        flex-direction: column;
        align-items: start;
      }


   
   


    /* ------------------------- TECNOLOGIAS QUE TRABALHO ATUALMENTE ------------------------------*/

    .mystacks{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        margin-bottom: 120px;
    }

    .mystacks h1{
        width:90%;
        word-wrap: break-word;
        font-size: 2rem;
    }

    .mystacks h2{
        width:80%;
        font-size: 1.0rem;
        height: 80px;
    }

    .icons-stacks img{
        width: 35%;

    }

    #svg-python{
        width: 35%;
        height: auto;
    }


  /* ------------------------- PROJETOS ------------------------------*/

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    
    
}

    .title-projects h1{
        font-size: 2rem;
        word-wrap: break-word;
    }

    .title-projects h2{
        font-size: 1.0rem;
        word-wrap: break-word;
    }


    .imageprojects-items{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .imageprojects-items h1,h2{
        font-size: 1rem;
    }

    .title-projects{
        height: 0px;
    }

   
  /* ------------------------- FORMULARIO ------------------------------*/
  

    #label-digite-nome{
        font-size: 1.0rem;
        margin-left: 0;
        width: 60%;
    }

  .section-form{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .section-form h2,span{
        font-size: 1.8rem;
        word-wrap:break-word;
    }

    .section-form #input-nome{
        display: flex;
        font-size: 1.1rem;
        align-items: center;
        word-wrap: break-word;
        width: 50vw;
    }

    #input-nome{
        display: flex;
        width: 90%;

    }
    #input-nome::placeholder{
        font-size: 0.8rem;
    }

    .section-form button{
        width: 50%;
        margin-left: 50px;
    }

    #input-nome::placeholder{
        font-size: 0.7rem;
    }
   
    

   
    .form{
        width: 100%;
    }
    .form p{
        font-size:0.8rem;
        width: 50%;

    }

   .textarea-submit{
    display: flex;
    flex-direction: column;
    width: 90%;
   }

        

    

    textarea::placeholder{
        line-height:40px;
        font-size: 0.8rem;

    }

    textarea{
        font-size: 1.0rem;
    }




  /* ------------------------- PRIMEIRA PARTE RODA PÉ ------------------------------*/

.footer-contact{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    
    
}

.email-tel{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;

}

.email-tel img{
    width: 10%;

}

.email-tel h2{
    font-size: 0.9rem;
}










 /* ------------------------- RODA PÉ MENU ------------------------------*/


.footer-menu{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    line-height: 60px;
    margin-left: 0px;
}

.footer-menu ul li {
    margin-left: 0;
   
}


.footer-contact{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
    border-bottom: 1px solid var(--cinza-titulos-principais);
   
}

.textfinal{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 15px;
}



.direitos-reservados{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    width: 95%;
}

}

